<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Vehicle List</title>

  <h1>Location List</h1>

  <h2 th:text="${location1.locationName}">Locations</h2>
  <h3>Vehicle List</h3>
  <table class="table table-stripped">
    <tr th:each="vehicle : ${location1vehicles}">
      <td th:text="${vehicle.name}">Vehicle Name</td>
      <td th:text="${vehicle.BodyType}">Vehicle Body Style</td>
      <td th:text="${vehicle.EngineSize}">Vehicle Engine Size</td>
      <td th:text="${vehicle.fuel}">Vehicle Fuel Type</td>
      <td th:text="${vehicle.SeatCapacity}">Vehicle Seat Capacity</td>
    </tr>
  </table>

  <h4>Select Vehicle</h4>
  <form th:action="@{/car-list/order}" th:object="${car}" method="get">
    <select name="SelectVehicle" id="SelectVehicle">
      <option value="0">Select Vehicle</option>
      <option name="option"
              th:each="vehicle : ${location1vehicles}"
              th:value="${vehicle.vehicleID}"
              th:text="${vehicle.name}"></option>
    </select>
    <button type="submit" th:value="#{vehicle}">Order Vehicle</button>
  </form>

  <h2 th:text="${location2.locationName}">Locations</h2>
  <h3>Vehicle List</h3>
  <table class="table table-stripped">
    <tr th:each="vehicle : ${location2vehicles}">
      <td th:text="${vehicle.name}">Vehicle Name</td>
      <td th:text="${vehicle.BodyType}">Vehicle Body Style</td>
      <td th:text="${vehicle.EngineSize}">Vehicle Engine Size</td>
      <td th:text="${vehicle.fuel}">Vehicle Fuel Type</td>
      <td th:text="${vehicle.SeatCapacity}">Vehicle Seat Capacity</td>
    </tr>
  </table>

  <h4>Select Vehicle</h4>
  <form th:action="@{/car-list/order}" th:object="${car}" method="get">
    <select name="SelectVehicle" id="SelectVehicle2">
      <option value="0">Select Vehicle</option>
      <option name="option"
              th:each="vehicle : ${location2vehicles}"
              th:value="${vehicle.vehicleID}"
              th:text="${vehicle.name}"></option>
    </select>
    <button type="submit" th:value="#{vehicle}">Order Vehicle</button>
  </form>

</head>

</html>