<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Vehicle List</title>

  <h1>Location List</h1>

  <h2 th:text="${location1.locationName}">Locations</h2>
  <h3>Vehicle List</h3>
  <table class="table table-stripped">
    <tr>
    <td th:text="${vehicle1Name}">Vehicle Name</td>
    </tr>
    </tr>
    <td th:text="${vehicle2Name}">Vehicle Name</td>

    </tr>
  </table>
  <button>Rent <b><p th:text="${vehicle1.name}"></p></b></button>
  <button>Rent <b><p th:text="${vehicle2.name}"></p></b></button>

  <h2 th:text="${location2.locationName}">Locations</h2>
  <h3>Vehicle List</h3>
  <table class="table table-stripped">
    <tr>
    <td th:text="${vehicle3Name}">Vehicle Name</td>
    </tr>
    </tr>
    <td th:text="${vehicle4Name}">Vehicle Name</td>
    </tr>
  </table>
  <button>Rent <b><p th:text="${vehicle3.name}"></p></b></button>
  <button>Rent <b><p th:text="${vehicle4.name}"></p></b></button>

</head>

</html>